# Dependencies
node_modules

# Build output
dist

# Test files
tests
test-results
playwright-report
playwright.config.ts

# Development files
.git
.gitignore
.env
.env.*
*.md
!README.md

# IDE
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
